@import "./responsive";
.hero {
    background: linear-gradient(180deg, rgba(255, 244, 242, 0.4) 0%, #FFF0EE 100%);
    width: 100%;
    height: 800px;
    padding-top: 30px;
    @include mobile {
        width: 100%;
        height: 980px;
    }
    .hero-content {
        margin-top: 80px;
        @include mobile {
            margin-top: 30px;
            width: 100%;
            height: 780px;
            img {
                width: 100%;
                margin-top: 40px;
            }
        }
        h1 {
            font-family: $font-primary;
            font-weight: normal;
            font-size: 48px;
            line-height: 60px;
            color: $color-dark;
            @include mobile {
                font-size: 38px;
                line-height: 52px;
            }
        }
        p {
            font-family: $font-secondary;
            font-weight: normal;
            font-size: 18px;
            line-height: 34px;
            color: $color-text;
            width: 90%;
        }
        .btn-hero_content {
            .btn-learn_more {
                width: 177px;
                height: 50px;
                background: $color-primary;
                box-shadow: 0px 20px 30px rgba(255, 86, 58, 0.15);
                border-radius: 5px;
                color: #fff;
                font-weight: 600;
                line-height: 20px;
                &:hover {
                    box-shadow: none;
                    background: $color-hover;
                }
            }
            .btn-play_demo {
                margin-left: 15px;
                width: 177px;
                height: 50px;
                background: rgba(254, 94, 68, 0.1);
                border: 1px solid rgba(254, 94, 68, 0.2);
                box-sizing: border-box;
                border-radius: 5px;
                color: $color-primary;
            }
        }
    }
}