@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Source+Sans+Pro&display=swap');
// Font
$font-primary: 'Patua One',
cursive;
$font-secondary: 'Source Sans Pro',
sans-serif;
// Color
$color-primary: #FE5E44;
$color-dark: #0E144A;
$color-text: #6F6F6F;
$color-hover: #fe5d44dc;